/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* this is just for visual purpose only remove later */

 /* * { 
  outline: 1px solid black;
} */

/* Begin Nazreen CSS */

body {
	background-color: #a4c0b4;
}

#header {
	padding-top: 20px;
}

#header p {
	color: #65573d;
	font-size: 55px;
	font-family: arial;
	font-weight: bold;
	padding-left: 20px;
}

.left {
	float: left;
}

#header ul {
	list-style-type: none;
	font-family: arial;
	font-weight: bold;
	font-size: 15px; 
	padding-right: 20px;
}

#header ul li {
	display: inline-block;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: #65573d;
}

.right {
	float: right;
}

a {
	text-decoration: none;
	color: #65573d;
}

a:hover {
	color: #f8f2d8;
}

#art {
	padding-top: 150px;
}

table {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	color: #65573d;
}

table img {
	border: solid 2px;
	border-color: #f8f2d8;
}

table img:hover {
	opacity: .85;
}

th, td {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

#footer {
	clear: both;
	background-color: #d78150;
	width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: #65573d solid;
}

/* Artwork Pages */

.soon p {
	color: #65573d;
	font-size: 55px;
	font-family: arial;
	font-weight: bold;
	margin: auto;
}


